@import url(./__item/photo-grid__item.css);
@import url(./__image/photo-grid__image.css);
@import url(./__caption/photo-grid__caption.css);

.photo-grid {
  font-size: 0px;
  display: grid;
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
}
